@page
@model ProductIngredientListModel
@{
    ViewData["Title"] = "Ingredients";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Products/ProductList">Products</a></li>
        <li class="breadcrumb-item"><a asp-page="/Products/ProductView" asp-route-ProductID="@Model.Product.ProductID">@Model.Product.Name</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ingredient List</li>
    </ol>
</nav>

<a class="btn btn-outline-secondary" asp-page="/Products/ProductIngredientAdd" asp-route-ProductID="@Model.Product.ProductID"><i class="fa fa-plus" aria-hidden="true" title="Create a new ingredient"></i> Create a new ingredient</a>
<div class="mb-3"></div>

@if (Model.ProductIngredients.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ingredient</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ingredient in Model.ProductIngredients)
            {
                <tr>
                    <td>@ingredient.Description</td>
                    <td>
                        <form class="input-group" asp-page-handler="delete" asp-route-ProductIngredientID="@ingredient.ProductIngredientID" asp-route-ProductID="@Model.Product.ProductID" method="post">
                            <button type="submit" class="btn btn-danger">
                                <i class="fa fa-trash" aria-hidden="true" title="Delete"></i> Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    //No Ingredients
    <div class="alert alert-info" role="alert">
        @Model.Product.Name has no ingredients.
    </div>
}
