@page
@model ProductPreOrderModel
@{
    ViewData["Title"] = "Pre Order";
    ViewData["ReturnURL"] = Url.Page("/Products/ProductPreOrder");
    ViewData["PreOrder"] = Model.IsPreOrder;

    var outage = Model.ProductOrderOutages.Count > 0 && Model.ProductOrderOutages.Any(a => a.Start <= DateTime.Now && a.Stop >= DateTime.Now);

    var products = Model.Products;
    products = products.Where(w => w.ShowOnFrontPage == true).ToList();
    products = products.Where(w => w.PreOrder == true).ToList();
}

<div class="breadcrumb d-flex justify-content-between align-items-center">
    <ol class="breadcrumb mb-0 p-0">
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>

</div>

@if (outage)
{
    <div class="alert alert-warning" role="alert">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
        We are not taking any more orders between @Model.ProductOrderOutages.Min(s => s.Start).ToString("dddd, dd MMMM yyyy") and @Model.ProductOrderOutages.Max(m => m.Stop).ToString("dddd, dd MMMM yyyy")
    </div>
}

<div id="cartItemAdded" class="alert alert-success d-none" role="alert"></div>

<div class="row justify-content-center">
    @foreach (var product in products)
    {
        <div class="col-md-4 mt-0 px-2">
            <div class="product-grid">
                <div class="product-image">
                    @{
                        var productImage = Model.ProductImages.FirstOrDefault(m => m.ProductID == product.ProductID);
                        string source, title;
                    }
                    @if (productImage == null)
                    {
                        source = "https://dummyimage.com/350x350/000/fff";
                        title = "350X350";
                    }
                    else
                    {
                        source = @productImage.FileLocation.Replace("{1}", "350");
                        title = @productImage.Title;
                    }
                    <a asp-page="/Products/ProductView" asp-route-ProductID="@product.ProductID" class="darken">
                        <img class="b-lazy"
                             src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                             data-src="@source"
                             asp-append-version="true"
                             alt="@title"
                             title="@title" />
                    </a>
                    @if (!outage)
                    {
                        <form name="add_cart" asp-page-handler="cartadd" asp-route-ProductID="@product.ProductID" method="post">
                            <button class="add-to-cart" type="submit">
                                <i class="fa fa-cart-plus" aria-hidden="true" title="Add to cart"></i> Add to cart
                            </button>
                        </form>
                    }

                </div>
                <div class="product-content">

                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (product.ShowOnFrontPage)
                        {
                            <i class="fa fa-eye" aria-hidden="true" title="Visble"></i>
                        }
                        else
                        {
                            <i class="fa fa-eye-slash" aria-hidden="true" title="Not visible"></i>
                        }
                        <span class="badge badge-info" title="Sort order">@product.SortOrder</span>
                    }

                    <h3 class="title"><a asp-page="/Products/ProductView" asp-route-ProductID="@product.ProductID"> @product.Name</a></h3>
                    <div class="price">
                        $@product.Price
                        @if (!String.IsNullOrEmpty(product.Unit))
                        {
                            <span class="text-muted"> / @product.Unit</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>