@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="A Wellington/Lower Hutt based Polish style bread company">
    <meta name="theme-color" content="#317EFB" />

    <title>Little Bread Loaf - @ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css" />
        <link rel="stylesheet" href="~/lib/quill/quill.snow.min.css" />
        <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
        <link rel="stylesheet" href="~/lib/jquery-timepicker/jquery.timepicker.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css" />
        <link rel="stylesheet" href="~/lib/quill/quill.snow.min.css" />
        <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
        <link rel="stylesheet" href="~/lib/jquery-timepicker/jquery.timepicker.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script src="https://www.google.com/recaptcha/api.js?render=@Configuration["Google.Recaptcha.SiteKey"]" async defer></script>
</head>
<body>
    <script>
        //Load global javascript configuration
        var googleRecaptchaSiteKey = '@Configuration["Google.Recaptcha.SiteKey"]';
    </script>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top p-1">
        <a class="navbar-brand" asp-page="/Index"><img src="~/images/little-bread-loaf-logo.svg" height="50" width="50" class="d-inline-block align-middle mx-2" alt="Little Bread Loaf" title="Little Bread Loaf"> Polish Bread</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="mainNavBar" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" asp-page="/Index"><i class="fa fa-home fa-fw" aria-hidden="true" title="Home"></i> Home</a></li>
                <li class="nav-item"><a class="nav-link" asp-page="/Products/ProductList"><i class="fa fa-shopping-bag fa-fw" aria-hidden="true" title="Shop online"></i> Shop online</a></li>
                <li class="nav-item"><a class="nav-link" asp-page="/Products/ProductBundleList"><i class="fa fa-gift fa-fw" aria-hidden="true" title="Bundles"></i> Bundles</a></li>
                <li class="nav-item"><a class="nav-link" asp-page="/Blog/BlogList"><i class="fa fa-book fa-fw" aria-hidden="true" title="Blog"></i> Blog</a></li>
                <li class="nav-item"><a class="nav-link" asp-page="/About"><i class="fa fa-question-circle fa-fw" aria-hidden="true" title="About me"></i> About me</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item"><a class="nav-link" asp-page="/Orders/OrdersList"><i class="fa fa-thumb-tack" aria-hidden="true" title="Orders"></i> Orders</a></li>
                    <li class="nav-item"><a class="nav-link" asp-page="/Maintenance/MaintenanceList"><i class="fa fa-cogs" aria-hidden="true" title="Maintenance"></i> Maintenance</a></li>
                }
            </ul>

            <ul class="navbar-nav flex-row">
                <partial name="_LoginPartial" view-data="@ViewData" />
                <li class="nav-item">
                    <a class="btn btn-light" asp-page="/Cart/CartView">
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" title="View Cart"></i> Cart
                        <span id="cartItemCount" class="badge badge-pill badge-dark">@await Component.InvokeAsync("CartCount", Model.HttpContext.Request.Cookies[CartHelper.CartCookieName])</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container">

        @RenderBody()

    </main>

    <partial name="_Footer" />
    <partial name="_CookieConsentPartial" />

    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
        <script src="~/lib/jquery.blockUI/jquery.blockUI.min.js"></script>
        <script src="~/lib/popper.js/umd/popper.min.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/blazy/blazy.min.js"></script>
        <script src="~/lib/ekko-lightbox/ekko-lightbox.min.js"></script>
        <script src="~/lib/quill/quill.min.js"></script>
        <script src="~/lib/select2/js/select2.min.js"></script>
        <script src="~/lib/jquery-timepicker/jquery.timepicker.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
        <script src="~/lib/jquery.blockUI/jquery.blockUI.min.js"></script>
        <script src="~/lib/popper.js/umd/popper.min.js"></script>
        <script src="~/lib/blazy/blazy.min.js"></script>
        <script src="~/lib/ekko-lightbox/ekko-lightbox.min.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/quill/quill.min.js"></script>
        <script src="~/lib/select2/js/select2.min.js"></script>
        <script src="~/lib/jquery-timepicker/jquery.timepicker.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
