@page
@model littlebreadloaf.Pages.Blog.BlogTagEditModel
@{
    ViewData["Title"] = "Edit blog tag";
    ViewData["ReturnURL"] = Url.Page("/Blog/BlogTagEdit", new { BlogTagID = Model.BlogTag.TagID });
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Blog/BlogList">Blog</a></li>
        <li class="breadcrumb-item"><a asp-page="/Blog/BlogTagList">Blog tag list</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit blog category</li>
    </ol>
</nav>

@using (Html.BeginForm("BlogTagEdit", "BlogTagEdit", FormMethod.Post, new { @class = "form-group-sm" }))
{
    <div class="form-row">
        <div class="form-group col-6">
            @Html.LabelFor(m => m.BlogTag.Name)
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-tag fa-fw" aria-hidden="true" title="Blog tag"></i></div>
                </div>
                @Html.TextBoxFor(m => m.BlogTag.Name, new { @class = "form-control", autocomplete = "off", autofocus = "autofocus" })
            </div>
            @Html.ValidationMessageFor(m => m.BlogTag.Name, "", new { @class = "text-danger" })
            @Html.ValidationMessage("Duplicate", new { @class = "text-danger" })
        </div>
    </div>
    @Html.HiddenFor(h => h.BlogTag.TagID)
    <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true" title="Save"></i> Save</button>
    <a class="btn btn-danger" asp-page="/Blog/BlogTagList"><i class="fa fa-times" aria-hidden="true" title="Cancel"></i> Cancel</a>
}