@page
@model littlebreadloaf.Pages.Blog.BlogImageAddModel
@{
    ViewData["Title"] = "Add Image";
    ViewData["ReturnURL"] = Url.Page("/Blog/BlogImageAdd", new { productID = Model.BlogID });
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Blog/BlogList">Blog</a></li>
        <li class="breadcrumb-item"><a asp-page="/Blog/BlogView" asp-route-BlogID="@Model.BlogID">View blog</a></li>
        <li class="breadcrumb-item"><a asp-page="/Blog/BlogImageList" asp-route-BlogID="@Model.BlogID">Image list</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add image</li>
    </ol>
</nav>

@using (Html.BeginForm("BlogImageAdd", "BlogImageAdd", FormMethod.Post, new { @class = "form-group-sm", @enctype = "multipart/form-data" }))
{
    <div class="form-group row">
        @Html.LabelFor(m => m.BlogImage.Title, new { @class = "col-2 col-form-label" })

        <div class="col-5">
            @Html.TextBoxFor(m => m.BlogImage.Title, new { @class = "form-control", autocomplete = "off", autofocus = "autofocus" })
            @Html.ValidationMessageFor(m => m.BlogImage.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.FileUpload, new { @class = "col-2 col-form-label" })

        <div class="col-5">
            <input id="file_upload" class="form-control" asp-for="FileUpload" type="file" />
            @Html.ValidationMessage("BadFile", new { @class = "text-danger" })
            @Html.ValidationMessage("Duplicate", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(m => m.BlogID)

    <div class="form-group">
        <button type="submit" class="btn btn-success" asp-page-handler="upload"><i class="fa fa-floppy-o" aria-hidden="true" title="Save"></i> Save</button>
        <a class="btn btn-danger" asp-page="/Blog/BlogImageList" asp-route-BlogID="@Model.BlogID"><i class="fa fa-times" aria-hidden="true" title="Cancel"></i> Cancel</a>
    </div>

}