@page
@model littlebreadloaf.Pages.Blog.BlogCategoryDeleteModel
@{
    ViewData["Title"] = "Delete blog category";
    ViewData["ReturnURL"] = Url.Page("/Blog/BlogCategoryDelete", new { BlogCategoryID = Model.BlogCategory.BlogCategoryID });
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Blog/BlogList">Blog</a></li>
        <li class="breadcrumb-item"><a asp-page="/Blog/BlogCategoryList">Blog catgory list</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete blog category</li>
    </ol>
</nav>

<div class="alert alert-danger" role="alert">
    Are you sure you want to delete this category?
</div>

@using (Html.BeginForm("BlogCategoryDelete", "BlogCategoryDelete", FormMethod.Post, new { @class = "form-group-sm" }))
{
    <div class="form-row">
        <div class="form-group col-6">
            @Html.LabelFor(m => m.BlogCategory.Name)
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-bookmark fa-fw" aria-hidden="true" title="Blog catgories"></i></div>
                </div>
                @Html.TextBoxFor(m => m.BlogCategory.Name, new { @class = "form-control", autocomplete = "off", autofocus = "autofocus", disabled = "on" })
            </div>
            @Html.ValidationMessageFor(m => m.BlogCategory.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.HiddenFor(h => h.BlogCategory.BlogCategoryID)
    @Html.HiddenFor(h => h.BlogCategory.Name)
    <button type="submit" class="btn btn-success"><i class="fa fa-trash" aria-hidden="true" title="Delete"></i> Yes, please delete</button>
    <a class="btn btn-danger" asp-page="/Blog/BlogCategoryList"><i class="fa fa-times" aria-hidden="true" title="Cancel"></i> Cancel</a>
}
