@page
@model littlebreadloaf.Pages.Orders.InvoiceViewModel
@{
    ViewData["Title"] = "View invoice";
    ViewData["ReturnURL"] = Url.Page("/Orders/InvoiceView", new { OrderID = @Model.OrderID });

    var balance = @Model.InvoiceTransaction.Sum(s => s.Quantity * s.Price);
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Orders/OrdersList">Orders</a></li>
        <li class="breadcrumb-item"><a asp-page="/Orders/OrderView" asp-route-OrderID="@Model.OrderID">View order</a></li>
        <li class="breadcrumb-item active" aria-current="page">View invoice</li>
    </ol>
</nav>

@if (User.Identity.IsAuthenticated)
{
<div class="alert alert-secondary border-0 admin_background" role="alert">
    <div class="text-muted mb-1">Admin</div>
    @if (balance != 0)
    {
        <a class="btn btn-outline-secondary" asp-page="/Orders/InvoiceTransactionAdd" asp-route-OrderID="@Model.OrderID"><i class="fa fa-usd" aria-hidden="true" title="Add transaction"></i> Add transaction</a>
    }
    <a target="_blank" class="btn btn-outline-secondary" asp-page="/Orders/InvoicePrint" asp-Route-OrderID="@Model.OrderID"><i class="fa fa-print" aria-hidden="true" title="Print invoice"></i> Print invoice</a>
</div>
}

@if (Model.InvoiceTransaction.Count > 0)
{
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Type</th>
                <th>Category</th>
                <th>Name</th>
                <th>Description</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoiceTxn in Model.InvoiceTransaction.Where(w => w.Type == "Debit"))
            {
                var sum = invoiceTxn.Price * invoiceTxn.Quantity;
                <tr>
                    <td>@Html.DisplayFor(o => invoiceTxn.Type)</td>
                    <td>@Html.DisplayFor(o => invoiceTxn.Category)</td>
                    <td>@Html.DisplayFor(o => invoiceTxn.Name)</td>
                    <td>@Html.DisplayFor(o => invoiceTxn.Description)</td>
                    <td>@Html.DisplayFor(o => invoiceTxn.Price)</td>
                    <td>@Html.DisplayFor(o => invoiceTxn.Quantity)</td>
                    <td>@sum</td>
                </tr>
            }
            <tr class="table-active">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Subtotal:</strong></td>
                <td><strong>@Model.InvoiceTransaction.Where(w => w.Type == "Debit").Sum(s => s.Quantity * s.Price)</strong></td>
            </tr>
            @foreach (var invoiceTxn in Model.InvoiceTransaction.Where(w => w.Type == "Credit" && w.Category == "Discount"))
            {
                var sum = invoiceTxn.Price * invoiceTxn.Quantity;
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a class="btn btn-danger" href="#">Delete</a></td>
                <td> - @invoiceTxn.Description</td>
                <td>@(invoiceTxn.Price * invoiceTxn.Quantity)</td>
            </tr>
            }
            @foreach (var invoiceTxn in Model.InvoiceTransaction.Where(w => w.Type == "Credit" && w.Category == "Payment"))
            {
                var sum = invoiceTxn.Price * invoiceTxn.Quantity;
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a class="btn btn-danger" href="#">Delete</a></td>
                <td> - @invoiceTxn.Description</td>
                <td>@(invoiceTxn.Price * invoiceTxn.Quantity)</td>
            </tr>
            }
            <tr class="table-active">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><h5><strong>Balance Due:</strong></h5></td>
                <td><h5><strong>@balance</strong></h5></td>
            </tr>
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info" role="alert">
        No orders to display.
    </div>
}
<br />